body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(112, 25, 25, 0.877);
    height: 98vh;
    display: grid;
    align-content: center;
}



.containerOne {
    outline: 2px solid black;
    width: 80vw;
    height: 80vh;
    background-color: green;
    box-shadow: 10px 10px 5px black;
    justify-self: center;
    outline: 10px outset rgb(161, 66, 2);
    border: 10px inset rgb(165, 88, 25);
    border-radius: 25px;
    }

.containerOne div {
    display: grid;
    width: 80vw;
    height: 80vh;
    grid-template-columns: 50px 52vw 50px;
    grid-template-rows: 80px 52vh 80px;
    justify-content: space-around;
    align-content: center;
    margin: 0;
    border-radius: 8px;
    
}

    #pOne {
        width: 6.5vw;
        height: 9vh;
        outline: 2px solid black;
        box-shadow: 4px 4px 4px;
        grid-row: 1;
        }

    #pTwo {
        width: 6.5vw;
        height: 9vh;
        outline: 2px solid black;
        grid-row: 3;
        grid-column: 3;
        box-shadow: 4px 4px 4px;
        }

        #pointP1 {
            position: absolute;
            width: 30px;
            background-color: black;
            font-family: 'Courier New', Courier, monospace;
            font-size: 15pt;
            font-weight: bold;
            color: rgb(255, 255, 255);
            border: 0;
            margin-left: 40px;
            box-shadow: 3px 3px 3px black;

        }
        #pointP2 {
            position: absolute;
            width: 30px;
            background-color: black;
            font-family: 'Courier New', Courier, monospace;
            font-size: 15pt;
            font-weight: bold;
            color: rgb(255, 255, 255);
            border: 0;
            transform: translate(-80px, 2px);
            box-shadow: 3px 3px 3px black;
           

        }



    #gameBoard {
        outline: 4px outset black;
        width: 52vw;
        height: 52vh;
        grid-row: 2 / span 2;
        grid-column: 2 / span 2;
        box-shadow: 3px 3px 3px black;
        border-radius: 5px;

        }
        #gameBoardP1 {
            border-radius: 6px;
            border: 0cap;
            position: absolute;
            justify-items: center;
            width: 50.9vw;
            height: 100px;
            background-color: rgb(17, 3, 147);
            font-family: 'Courier New', Courier, monospace;
            font-size: 15pt;
            font-weight: bold;
            color: rgb(255, 255, 255);
            border: 4px inset rgb(85, 2, 2);
            }

        #gameBoardP2 {
            position: absolute;
            align-self: flex-end;
            justify-items: center;
            width: 50.9vw;
            border-radius: 5px;
            border: 0cap;
            height: 100px;
            background-color: rgb(186, 1, 1);
            font-family: 'Courier New', Courier, monospace;
            font-size: 15pt;
            font-weight: bold;
            color: rgb(255, 255, 255);
            border: 4px inset rgba(10, 2, 87, 0.829);

            }

        #outcome {
            position: absolute;
            align-self: center;
            justify-self: center;
            justify-items: center;
            height: 30px;
            width: 30vw;
            border: 2px outset silver;
            background-color: black;
            font-family: 'Courier New', Courier, monospace;
            font-size: 20pt;
            font-weight: bold;
            color: rgb(255, 255, 255);
            box-shadow: 2px 2px 4px rgb(0, 75, 0);
            margin-bottom: 2vh;
        }

        #warResult {
            width: 30vw;
            margin-top: 1vh;
            position: absolute;
            align-self: center;
            justify-self: center;
            justify-items: center;
            transform: translate(0px, 30px);
            background-color: black;
            border: 2px outset gold;
            box-shadow: 3px 3px 4px rgb(104, 89, 3);
            height: 20px;
            font-size: 15pt;
            color:  white;
        }
        
    
#playButton {
            width: 6.5vw;
            height: 9vh;
            position: absolute;
            background-color: rgba(41, 184, 41, 0.336);
            border: 0cap;
            transition-duration: 0.15s;
            border-radius: 6px;
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
            font-weight: bolder;
            }

            :hover#playButton {
            background-color: rgba(17, 0, 255, 0.562);
            }
            :active#playButton {
            background-color: rgb(17, 0, 255);
            transition-duration: 0s;
            }
#playButton2 { 
            width: 6.5vw;
            height: 9vh;
            position: absolute;
            background-color: rgba(41, 184, 41, 0.336);
            border: 0cap;
            transition-duration: 0;
            border-radius: 6px;
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
            font-weight: bolder;
            }

            :hover#playButton2 {
            background-color: rgba(255, 0, 0, 0.596);
            }
            :active#playButton2 {
            background-color: rgb(255, 0, 0);
            transition-duration: 0s;
            }

            .gameBoardP1 {
                position: fixed;


            }

            .gameBoardP2 {
                position: fixed;


            }


    